# the google credential for accessing the gsheet(s) (this file is not in the repo)
credential-json: '../conf/credential.json'

tasks:
  # worksheet duplication, removal, renaming
  - duplicate_worksheet                         :
    worksheet_name_to_duplicate                 : 'z-blank'
  - remove_worksheets                           :
  - rename_worksheet                            :
    worksheet_name                              : 'z-header'
    new_worksheet_name                          : 'z-head'

  # worksheet creation, formatting and related tasks
  - clear_data_validation                       :
    range_spec                                  : 'A1:Z'
  - clear_conditional_formats                   :
  - format_worksheets                           :
  - create_worksheets                           :
  - create_review_notes_conditional_formatting  :

  # trailing blank row removal, review-notes, column sizing
  - remove_extra_columns
    cols_to_remove_from                         : 'F'
    cols_to_remove_to                           : 'end'
  - remove_trailing_blank_rows                  :
  - column_pixels_in_row                        :
    row_to_update                               : 1
  - resize_columns_from_values_in_row           :
    row_to_consult                              : 1

  # work on ranges etc.
  - work_on_ranges                              :
    range_work_specs                            : work_specs

  # find and replace in worksheets
  - find_and_replace                            :
    find_replace_patterns                       : find_replace_patterns

  # cell linking and ordering
  - link_cells_to_drive_files                   :
    worksheet_name                              : 'files-folders'
    range_specs_for_cells_to_link               :
    - 'F3:F'
  - link_cells_based_on_type                    :
    worksheet_name                              : '-toc-new'
    range_specs_for_cells_to_link               :
    - 'E3:F'
  - order_worksheets                            :
  - link_cells_to_worksheet                     :
    worksheet_name                              : '-toc-new'
    range_specs_for_cells_to_link               :
      - 'O3:O'
      - 'R3:R'


# the gsheet(s) that will be processed
gsheets:


# gsheets which are targets for some activities like copy worksheet
destination-gsheets:


# worksheets on which some work will be done
worksheets:


# work specifications to apply on a list of worksheets
work-specs:


# find and replace patterns
find-replace-patterns:
