# log level (0-TRACE, 1-DEBUG, 2-INFO, 3-WARN, 4-ERROR) below which logs will not be printed
log-level:                  1
driver:                     Firefox
delay-yt-load:              1
delay-yt-tab:               1
delay-yt-search:            1
delay-pre-yt-search:        1
range-start:                0
range-end:                  15
do-search:                  false
close-tabs:                 false
texts-to-find:
-
-
texts-to-ignore:
-
- 
search-suffix:              ''

song-list:
- সভায় তোমার থাকি সবার শাসনে
- সমুখেতে বহিছে তটিনী
- সংসারেতে চারি ধার
- সহজ হবি সহজ হবি
- সাজাব তোমারে হে ফুল দিয়ে দিয়ে
- সাধন কি মোর আসন নেবে
- সাধের কাননে মোর
- সারা বরষ দেখি নে মা
- সার্থক কর সাধন
- সুখে থাকো আর সুখী করো সবে
- সুন্দরের বন্ধন নিষ্ঠুরের হাতে
- সুমঙ্গলী বধূ
- সুরের গুরু দাও গো সুরের দীক্ষা
- সুরের জালে কে জড়ালে আমার মন
- সে আসি কহিল প্রিয়ে
- সে জন কে সখী বোঝা গেছে
- সে দিনে আপদ আমার যাবে কেটে
- সেই তো তোমার পথের বঁধু
- সেই শান্তিভবন ভুবন
- সোনার পিঞ্জর ভাঙিয়ে আমার
- স্বপন-লোকের বিদেশিনী
- স্বরূপ তাঁর কে জানে
- স্বর্গে তোমায় নিয়ে যাবে উড়িয়ে
- স্বামী তুমি এসো আজ

song-list-master:
- হবে জয় হবে জয় হবে জয় রে
- হম যব না রব সজনী
- হম সখি দারিদ নারী
- হরষে জাগো আজি
- হরি তোমায় ডাকি
- হা কে বলে দেবে
- হা সখী ও আদরে
- হাটের ধুলা সয় না যে আর
- হাতে লয়ে দীপ অগণন
- হায় রে হায় রে নূপুর
- হায় হতভাগিনী
- হায় হায় রে হায় পরবাসী
- হায় হায় হায় দিন চলি যায়
- হাসি কেন নাই ও নয়নে
- হাসিরে কি লুকাবি লাজে
- হিয়া কাঁপিছে সুখে কি দুখে সখী
- হৃদয় আমার ওই বুঝি তোর ফাল্গুনী ঢেউ
- হৃদয় মোর কোমল অতি
- হৃদয়-আবরণ খুলে গেল
- হৃদয়ক সাধ মিশাওল হৃদয়ে
- হৃদয়বেদনা বহিয়া প্রভু
- হৃদয়ে রাখো গো দেবী চরণ তোমার
- হৃদয়ে হৃদয় আসি মিলে যায় যেথা
- হে অনাদি অসীম সুনীল অকূল সিন্ধু
- হে অন্তরের ধন
- হে আকাশবিহারী নীরদবাহন জল
- হে চিরনূতন আজি এ দিনের প্রথম গানে
- হে নবীনা
- হে বিদেশী এসো এসো
- হে বিরহী হায় চঞ্চল হিয়া তব
- হে ভারত আজি তোমারি সভায়
- হে মন তাঁরে দেখো আঁখি খুলিয়ে
- হে মহাদুঃখ হে রুদ্র হে ভয়ঙ্কর
- হে সখা মম হৃদয়ে রহো
- হেথা যে গান গাইতে আসা
- হেরি তব বিমলমুখভাতি

links-to-open:
-