# log level (0-TRACE, 1-DEBUG, 2-INFO, 3-WARN, 4-ERROR) below which logs will not be printed
log-level:                  1
driver:                     Firefox
delay-yt-load:              1
delay-yt-tab:               1
delay-yt-search:            1
delay-pre-yt-search:        1
range-start:                0
range-end:                  70
texts-to-find:
- দেবব্রত
- debabrata
texts-to-ignore:
- ক্যারে
# - আশঙ্কাজনক
search-suffix:              দেবব্রত
song-list:
song-list-master:
