# log level (0-TRACE, 1-DEBUG, 2-INFO, 3-WARN, 4-ERROR) below which logs will not be printed
log-level:                  1
driver:                     Firefox
delay-yt-load:              1
delay-yt-tab:               1
delay-yt-search:            1
delay-pre-yt-search:        1
range-start:                0
range-end:                  20
texts-to-find:
- 
texts-to-ignore:
-
search-suffix:              ''

song-list:

song-list-master:

links-to-open:
- http://www.gitabitan.net/top.asp?songid=93
- http://www.gitabitan.net/top.asp?songid=170
- http://www.gitabitan.net/top.asp?songid=64
- http://www.gitabitan.net/top.asp?songid=6
- http://www.gitabitan.net/top.asp?songid=1268
- http://www.gitabitan.net/top.asp?songid=753
- http://www.gitabitan.net/top.asp?songid=1269
- http://www.gitabitan.net/top.asp?songid=106
- http://www.gitabitan.net/top.asp?songid=141
- http://www.gitabitan.net/top.asp?songid=46
- http://www.gitabitan.net/top.asp?songid=193
- http://www.gitabitan.net/top.asp?songid=1270
- http://www.gitabitan.net/top.asp?songid=202
- http://www.gitabitan.net/top.asp?songid=1271
- http://www.gitabitan.net/top.asp?songid=99
- http://www.gitabitan.net/top.asp?songid=1246
- http://www.gitabitan.net/top.asp?songid=157
- http://www.gitabitan.net/top.asp?songid=752
- http://www.gitabitan.net/top.asp?songid=137
- http://www.gitabitan.net/top.asp?songid=210
- http://www.gitabitan.net/top.asp?songid=1272
- http://www.gitabitan.net/top.asp?songid=236
- http://www.gitabitan.net/top.asp?songid=61
- http://www.gitabitan.net/top.asp?songid=1236
- http://www.gitabitan.net/top.asp?songid=706
- http://www.gitabitan.net/top.asp?songid=237
- http://www.gitabitan.net/top.asp?songid=91
- http://www.gitabitan.net/top.asp?songid=152
- http://www.gitabitan.net/top.asp?songid=45
- http://www.gitabitan.net/top.asp?songid=82
- http://www.gitabitan.net/top.asp?songid=86
- http://www.gitabitan.net/top.asp?songid=1217
- http://www.gitabitan.net/top.asp?songid=1273
- http://www.gitabitan.net/top.asp?songid=4
- http://www.gitabitan.net/top.asp?songid=115
- http://www.gitabitan.net/top.asp?songid=1274
- http://www.gitabitan.net/top.asp?songid=1275
- http://www.gitabitan.net/top.asp?songid=1276
- http://www.gitabitan.net/top.asp?songid=200
- http://www.gitabitan.net/top.asp?songid=1232
- http://www.gitabitan.net/top.asp?songid=96
- http://www.gitabitan.net/top.asp?songid=761
- http://www.gitabitan.net/top.asp?songid=1279
- http://www.gitabitan.net/top.asp?songid=1278
- http://www.gitabitan.net/top.asp?songid=9
- http://www.gitabitan.net/top.asp?songid=1237
- http://www.gitabitan.net/top.asp?songid=238
- http://www.gitabitan.net/top.asp?songid=228
- http://www.gitabitan.net/top.asp?songid=1280
- http://www.gitabitan.net/top.asp?songid=762
- http://www.gitabitan.net/top.asp?songid=239
- http://www.gitabitan.net/top.asp?songid=55
- http://www.gitabitan.net/top.asp?songid=1170
- http://www.gitabitan.net/top.asp?songid=221
- http://www.gitabitan.net/top.asp?songid=995
- http://www.gitabitan.net/top.asp?songid=240
- http://www.gitabitan.net/top.asp?songid=241
- http://www.gitabitan.net/top.asp?songid=993
- http://www.gitabitan.net/top.asp?songid=1281
- http://www.gitabitan.net/top.asp?songid=7
- http://www.gitabitan.net/top.asp?songid=732
- http://www.gitabitan.net/top.asp?songid=996
- http://www.gitabitan.net/top.asp?songid=1202
- http://www.gitabitan.net/top.asp?songid=212
- http://www.gitabitan.net/top.asp?songid=217
- http://www.gitabitan.net/top.asp?songid=1290
- http://www.gitabitan.net/top.asp?songid=1215
- http://www.gitabitan.net/top.asp?songid=1291
- http://www.gitabitan.net/top.asp?songid=1284
- http://www.gitabitan.net/top.asp?songid=723
- http://www.gitabitan.net/top.asp?songid=998
- http://www.gitabitan.net/top.asp?songid=1189
- http://www.gitabitan.net/top.asp?songid=1243
- http://www.gitabitan.net/top.asp?songid=1177
- http://www.gitabitan.net/top.asp?songid=191
- http://www.gitabitan.net/top.asp?songid=1285
- http://www.gitabitan.net/top.asp?songid=219
- http://www.gitabitan.net/top.asp?songid=242
- http://www.gitabitan.net/top.asp?songid=1286
- http://www.gitabitan.net/top.asp?songid=204
- http://www.gitabitan.net/top.asp?songid=1288
- http://www.gitabitan.net/top.asp?songid=1287
- http://www.gitabitan.net/top.asp?songid=243
- http://www.gitabitan.net/top.asp?songid=244
- http://www.gitabitan.net/top.asp?songid=1289
- http://www.gitabitan.net/top.asp?songid=668
- http://www.gitabitan.net/top.asp?songid=1292
- http://www.gitabitan.net/top.asp?songid=1190
- http://www.gitabitan.net/top.asp?songid=180
- http://www.gitabitan.net/top.asp?songid=681
- http://www.gitabitan.net/top.asp?songid=742
- http://www.gitabitan.net/top.asp?songid=74
- http://www.gitabitan.net/top.asp?songid=224
- http://www.gitabitan.net/top.asp?songid=667
- http://www.gitabitan.net/top.asp?songid=1293
- http://www.gitabitan.net/top.asp?songid=969
- http://www.gitabitan.net/top.asp?songid=102
- http://www.gitabitan.net/top.asp?songid=715
- http://www.gitabitan.net/top.asp?songid=98
- http://www.gitabitan.net/top.asp?songid=245
- http://www.gitabitan.net/top.asp?songid=724
- http://www.gitabitan.net/top.asp?songid=246
- http://www.gitabitan.net/top.asp?songid=720
- http://www.gitabitan.net/top.asp?songid=1294
- http://www.gitabitan.net/top.asp?songid=1231
- http://www.gitabitan.net/top.asp?songid=989
- http://www.gitabitan.net/top.asp?songid=247
- http://www.gitabitan.net/top.asp?songid=1296
- http://www.gitabitan.net/top.asp?songid=1295
- http://www.gitabitan.net/top.asp?songid=702
- http://www.gitabitan.net/top.asp?songid=703
- http://www.gitabitan.net/top.asp?songid=85
- http://www.gitabitan.net/top.asp?songid=1298
- http://www.gitabitan.net/top.asp?songid=248
- http://www.gitabitan.net/top.asp?songid=1297
- http://www.gitabitan.net/top.asp?songid=1299