# log level (0-TRACE, 1-DEBUG, 2-INFO, 3-WARN, 4-ERROR) below which logs will not be printed
log-level:                  1

# audio analysis
compute-pool-size:          8

# plotting
start_s:                    0.0
end_s:                      6.0
interval_s:                 0.2

# mfcc specific
mfcc_coefficients:
- MFCC_00
- MFCC_01
- MFCC_02

# audio source
audio_names:                # []
- L0qqgxEXjaU
- Qs-IFnfgI6A
- NlCitaPcPhE
- 1tm18I8huUE
- V6kgtYL4eLE
- GoLSJFhK49w
- nna3RkZwMkY
- Xru0tjP75S4
- OsNyNmy0BEc
- TLcIzHLQE60
- Li6iONaHrLQ
- oa1H2JBx0z4
- TEAB-6VL5_w
- Cq6IiDG15p4
- QtwiIq9P9r8
- Xqk-lAfWjMM
- nWOPkIi_8JU
- ul3kWtm1CBo
- MJjbMd66thg
- U1rrK3XPog4
