# log level (0-TRACE, 1-DEBUG, 2-INFO, 3-WARN, 4-ERROR) below which logs will not be printed
log-level:                  1

# audio analysis
compute-pool-size:          4

# plotting
start_s:                    0.0
end_s:                      60.0
interval_s:                 0.2

# mfcc specific
mfcc_coefficients:
- MFCC_00
- MFCC_01
- MFCC_02
- MFCC_03
- MFCC_04

# pitch specific
pitch_plots:
- frequency
# - spectrogram
# - contour

# audio source
audio_names:                # []
- PyLiiBrcmBk
- tGXGHRQJj5M
- YEWFzQ3dpL4
- ANBdCt8HPRc
- nr9j8jA41rc
- thTtjSVz8Tk
- lZI3wIyLukc
- 9CAT-Nam5c8
- dhJgjGkbKhU
- 1bt-Wkyxer8
- UGslLeYJprE
- 7HX38PtJYCY
- gzLA-qDtiBk
- gzAWH6NMW5c
- 9y-ezfklcH4
- cBzLwJ-aGjo
- pYHK0uCMX2Y
- GukQtvrZTh0
- E1Py16DDuM8
- lT_oQvYAo60
- 4KFRrVIRsaI
- kg4k-H2ihos
- sY19aHRh4YI
- kCRExK06puQ
- fLZ_iUo2rYs
- S0JxAuyDjLA
